# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = *My Name* 
#	email = *myname@email.com*

[alias]
	commend = commit --amend --no-edit
	st = status --short --branch

